.social-header{
	background: #141a24;
    border-bottom: solid 2px #383f4b;
	padding:10px 0px;
}
.social-header .search-box form .input-group-append button {
    background: #f6ad21;
    border: 1px solid #f6ad21;
}
.social-header .left-menu ,
.social-header .right-menu{
	display: flex;
	align-items: center;
}

.social-header .left-menu .logo-box{
	display: block;
    width: 24px;
	margin-right: 15px;
}

.social-header .left-menu .search-box {
    display: flex;
    flex-grow: 1;
}

.social-header .left-menu .search-box form{
    width:100%;
}

.social-header .right-menu .link-box {}

.social-header .right-menu .link-box .menu-list{
	margin: 0;
    padding: 0;
    list-style: none;
	display: flex;
}

.social-header .right-menu .link-box .menu-list li{
	padding:0px 12px;
	border-right: solid 1px #383f4b;
}

.social-header .right-menu .link-box .menu-list li a{
	text-decoration:none;
	color: #fff;
    font-size: 13px;
}

.social-header .right-menu .link-box .menu-list li:hover{
	background: #282e3a;
}

.social-header .right-menu .link-box .menu-list li a img{
	height: 24px;
    width: 24px;
    border-radius: 50%;
}

.noti-dd .dropdown-toggle img{
	width:18px;
	height:18px;
	cursor:pointer;
}
.noti-dd:last-child .dropdown-toggle img {
    width: auto;
    height: 12px;
    cursor: pointer;
}

.noti-dd .dropdown-menu{
	
}

.icon-box {
    display: flex;
    padding-left: 20px;
}
