<section class="main-body">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3 col-lg-3 left-part">
				<div class="left-inner">
					<div class="parts">
						<ul class="side-list">
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Sunny Kumar</span></a>
							</li>
							
							
							
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							<li class="active">
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name"> Timeline</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">About</span></a>
							</li>
							
							<li>
								<a class="direct" href="http://web1.kindlebit.com/clientdemo/uzyth-social/watch.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Friends</span></a>
							</li>
														
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							<li>
								<a class="direct" href="/http://web1.kindlebit.com/clientdemo/uzyth-social/unofficial-pepsico.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Photos</span></a>
							</li>
							
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							<li>
								<a class="direct" href="http://web1.kindlebit.com/clientdemo/uzyth-social/Group.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Achive</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">More</span></a>
							</li>
							
							<!-- <li>
								<a class="direct" href="http://web1.kindlebit.com/clientdemo/uzyth-social/event.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Events</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Fundraisers</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Buy & Sell Groups</span></a>
							</li> -->
							
						</ul>
					</div>
					
				</div>
			</div>
			<div class="col-sm-12 col-md-9 col-lg-9 right-part">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-8 right-part1">
						<app-create-post></app-create-post>
						<div class="post-box" *ngFor="let post of post_data;let index">
							<div class="post-hdr">
								<div class="icon-img">
									<img src="{{img_url}}{{post.profile_picture}}" />
								</div>
								<div class="name-box">
									<h1 class="hdg"><a href="javascript:void(0)">{{post.username}}</a> </h1>
									<p class="time"><a href="javascript:void(0)">{{toLocalDate(post.post_create_date)}}</a></p>
								</div>
							</div>
							
							<div class="post-des" *ngIf="post.post_description != ''">
								<p class="des">{{convetToEmoji(post.post_description)}}</p>
							</div>
							
							<div class="post-data"  *ngIf="post.post_media != ''">
								<img class="img-fluid" src="{{img_url}}{{post.post_media}}" />
							</div>
							
							<div class="like-data">
								<div class="like-total">
									<div class="total-left">
										<img class="for-img" src="assets/images/like.png" />										
										<a class="pop-val" *ngIf="post.likes != '0'" href="javascript:void(0)">{{post.likes}}</a>
									</div>
									<!-- <div class="total-right">
										<p class="rgt-val">2 shares</p>
									</div> -->
								</div>
								
								<div class="like-actual">
									<div class="parts" *ngIf="post.is_likes == '0'" (click)="like(post,'like')">
										<img class="for-img" src="assets/images/like2.png" />										
										<span>Like</span>
									</div>
									<div class="parts" *ngIf="post.is_likes == '1'" (click)="like(post,'unlike')">
											<img class="for-img" src="assets/images/dis-like2.png">										
											<span>Unlike</span>
										</div>
									
									<div class="parts">
										<img class="for-img" src="assets/images/like2.png" />										
										<span>Comments</span>
									</div>
									
								</div>
								
							</div>
							<div class="commant-data">
								<div class="commant-total">
									<div class="commant-list" *ngFor="let cmt of post.comments; let i=index">
										<div class="media">
										    <img src="{{img_url}}{{cmt.profile_picture}}">
										    <div class="media-body">
										         <p><b>{{cmt.username}}</b>{{cmt.comment}}</p>
										         <ul>
													<li><a *ngIf="cmt.user_id == user_id" href="javascript:void(0)" (click)="delete_comment(cmt)">Delete</a></li>
										        </ul>
										    </div>
										</div>
									</div>

									<div class="write-commant">
											<div class="media">
											  <img src="{{img_url}}{{profile_picture}}" alt="user">
											  <div class="media-body">
											   <input (keyup.enter)="post_comment(post.id,post.postcomment)" class="form-control" [(ngModel)]="post.postcomment" name="postcomment"  style="resize:none" type="text" placeholder="Write a commant...">
											   <!-- <span><i class="far fa-smile"></i></span> -->
											  </div>
											</div>
										</div>
									
								</div>
							</div>
						</div>				
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 right-part2">
						<div class="may-know">
							<div class="top-know">
								<p class="hdg">People you may know</p>
								<a href="" class="see">See All</a>
							</div>
							<div class="bottom-know">
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="assets/images/friends.jpg" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
										<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
										<div class="add-class">
											<button type="button" class="btn btn-grey">Add Friends</button>
											<button type="button" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="assets/images/friends.jpg" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
										<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
										<div class="add-class">
											<button type="button" class="btn btn-grey">Add Friends</button>
											<button type="button" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="assets/images/friends.jpg" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
										<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
										<div class="add-class">
											<button type="button" class="btn btn-grey">Add Friends</button>
											<button type="button" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="assets/images/friends.jpg" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
										<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
										<div class="add-class">
											<button type="button" class="btn btn-grey">Add Friends</button>
											<button type="button" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Suggested">
							<div class="may-know">
								<div class="top-know">
									<p class="hdg">People you may know</p>
									<a href="" class="see">See All</a>
								</div>
								<div class="bottom-know">
									<div class="join-group">
										<div class="join-image">
											<img src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-0/p173x172/29213898_411133419330626_4416280773284331520_n.jpg?_nc_cat=1&_nc_ht=scontent-hkg3-2.xx&oh=bf9868a8eea575c1170d5fb082253c1c&oe=5D615796">
										</div>
									</div>
									<div class="group-know">
										<p class="hdg">5-Minute Crafts ®<span>1,512,955 members</span></p>
										<button type="button" class="btn btn-grey">Join Group</button>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="Stories">
							<div class="may-know">
								<div class="top-know">
									<p class="hdg">Stories</p>
									<div class="Stories-blk">
										<a href="" class="see"> Settings</a>
										<a href="" class="see"> Archive</a>
									</div>
								</div>
								<div class="bottom-know">
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<h2 class="details-heading"><a href="#">Add to your story</a></h2>
											<span class="Stories-text">Share a photo or video or write something</span>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<h2 class="details-heading"><a href="#">Instagram</a></h2>
											<span class="Stories-text">about an hour ago</span>
										</div>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>