<section class="main-body">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3 col-lg-3 left-part">
				<div class="left-inner">
					<div class="parts">
						<ul class="side-list">
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Sunny Kumar</span></a>
							</li>
							
							
							
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							<li class="active">
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">News Feed</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Messanger</span></a>
							</li>
							
							<li>
								<a class="direct" href="http://web1.kindlebit.com/clientdemo/uzyth-social/watch.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Watch</span></a>
							</li>
														
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							<li>
								<a class="direct" href="/http://web1.kindlebit.com/clientdemo/uzyth-social/unofficial-pepsico.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Unofficial Pepsico</span></a>
							</li>
							
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							<li>
								<a class="direct" href="http://web1.kindlebit.com/clientdemo/uzyth-social/Group.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Groups</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Pages</span></a>
							</li>
							
							<li>
								<a class="direct" href="http://web1.kindlebit.com/clientdemo/uzyth-social/event.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Events</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Fundraisers</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Buy & Sell Groups</span></a>
							</li>
							
						</ul>
					</div>
					
				</div>
			</div>
			<div class="col-sm-12 col-md-9 col-lg-9 right-part">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-8 right-part1">
						<div class="create-post">
							<div class="post-hdr">
								<p>Create post</p>
							</div>
						
							<div class="create-write">
								<div class="for-type">
									<div class="icon-img">
										<img src="assets/images/profile.jpg" />
									</div>
									<div class="chat-text">
										<textarea class="form-control" rows="5" id="comment" placeholder="Write Something here"></textarea>
									</div>
								</div>
								<div class="for-pop-btn">
									<span class="icon-btn">
										<img src="assets/images/user.png" />Photo/Videos
									</span>
									
									<span class="icon-btn"  data-toggle="modal" data-target="#Create-Post">
										<img src="assets/images/user.png" />Tag Friends
									</span>
									
									<span class="icon-btn">
										<img src="assets/images/user.png" />Feeling/Activity
									</span>
									
								</div>
							</div>

							<!-- Modal -->
							<div class="modal fade" id="Create-Post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							    <div class="modal-dialog" role="document">
							        <div class="modal-content">
							            <div class="create-post">
											<div class="post-hdr">
												<p>Create post<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
											</div>

											<div class="create-write">
												<div class="for-type">
													<div class="icon-img">
														<img src="assets/images/profile.jpg" />
													</div>
													<div class="chat-text">
														<textarea class="form-control" rows="5" id="comment" placeholder="Write Something here"></textarea>
													</div>
												</div>
												<div class="for-pop-btn">
													<span class="icon-btn">
														<img src="assets/images/user.png" />Photo/Videos
													</span>
													
													<span class="icon-btn"  data-toggle="modal" data-target="#Create Post">
														<img src="assets/images/user.png" />Tag Friends
													</span>
													
													<span class="icon-btn" data-toggle="modal" data-target="#Create Post"s>
														<img src="assets/images/user.png" />Feeling/Activity
													</span>
													
												</div>
											</div>
											<div class="share-btn">
												<button class="btn btn-grey w-100 p-1">Share</button>
											</div>
										</div>
							    	</div>
							    </div>
							</div>
						</div>
						
						<div class="post-box">
							<div class="post-hdr">
								<div class="icon-img">
									<img src="assets/images/profile.jpg" />
								</div>
								<div class="name-box">
									<h1 class="hdg"><a href="">Lorem Ipsum</a> shared a post.</h1>
									<p class="time"><a href="">15 hrs</a></p>
								</div>
							</div>
							
							<div class="post-des">
								<p class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
							</div>
							
							<div class="post-data">
								<img class="img-fluid" src="assets/images/post.jpg" />
							</div>
							
							<div class="like-data">
								<div class="like-total">
									<div class="total-left">
										<img class="for-img" src="assets/images/like.png" />										
										<a class="pop-val" href="">2</a>
									</div>
									<div class="total-right">
										<p class="rgt-val">2 shares</p>
									</div>
								</div>
								
								<div class="like-actual">
									<div class="parts">
										<img class="for-img" src="assets/images/like2.png" />										
										<span>Like</span>
									</div>
									
									<div class="parts">
										<img class="for-img" src="assets/images/like2.png" />										
										<span>Share</span>
									</div>
									
									<div class="parts">
										<img class="for-img" src="assets/images/like2.png" />										
										<span>Comments</span>
									</div>
									
								</div>
								
							</div>
							
						</div>
						<div class="post-box">
							<div class="post-hdr">
								<div class="icon-img">
									<img src="assets/images/profile.jpg" />
								</div>
								<div class="name-box">
									<h1 class="hdg"><a href="">Lorem Ipsum</a> shared a post.</h1>
									<p class="time"><a href="">15 hrs</a></p>
								</div>
							</div>
							
							<div class="post-des">
								<p class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
							</div>
							
							<div class="post-data">
								<img class="img-fluid" src="assets/images/post.jpg" />
							</div>
							
							<div class="like-data">
								<div class="like-total">
									<div class="total-left">
										<img class="for-img" src="assets/images/like.png" />										
										<a class="pop-val" href="">2</a>
									</div>
									<div class="total-right">
										<p class="rgt-val">2 shares</p>
									</div>
								</div>
								
								<div class="like-actual">
									<div class="parts">
										<img class="for-img" src="assets/images/like2.png" />										
										<span>Like</span>
									</div>
									
									<div class="parts">
										<img class="for-img" src="assets/images/like2.png" />										
										<span>Share</span>
									</div>
									
									<div class="parts">
										<img class="for-img" src="assets/images/like2.png" />										
										<span>Comments</span>
									</div>
									
								</div>
								
							</div>
							<div class="commant-data">
								<div class="commant-total">
									<div class="more-relevent">
										<div class="dropdown">
											  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    Most relevant
											  </button>
											  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											    <a class="dropdown-item" href="#">Action</a>
											    <a class="dropdown-item" href="#">Another action</a>
											    <a class="dropdown-item" href="#">Something else here</a>
											  </div>
											</div>
									</div>
									<div class="write-commant">
										<div class="media">
										  <img src="assets/images/profile.jpg">
										  <div class="media-body">
										   <input type="text" placeholder="Write a commant...">
										   <span><i class="far fa-smile"></i></span>
										  </div>
										</div>
									</div>

									<div class="commant-list">
										<div class="media">
										    <img src="assets/images/profile.jpg">
										    <div class="media-body">
										         <p><b>Lorem Ipsum</b> simply dummy text of the printing</p>
										         <ul>
											   		<li><a href="">Like</a></li>
											   		<li><a href="">Reply</a></li>
											   		<li><a href="">2d</a></li>
										        </ul>
										    </div>
										</div>
									</div>

									<div class="commant-list">
										<div class="media">
										    <img src="assets/images/profile.jpg">
										    <div class="media-body">
										         <p><b>Lorem Ipsum</b> simply dummy text of the printing</p>
										         <ul>
											   		<li><a href="">Like</a></li>
											   		<li><a href="">Reply</a></li>
											   		<li><a href="">2d</a></li>
										        </ul>
										    </div>
										</div>
									</div>


									<div class="commant-list">
										<div class="media">
										    <img src="assets/images/profile.jpg">
										    <div class="media-body">
										         <p><b>Lorem Ipsum</b> simply dummy text of the printing</p>
										         <ul>
											   		<li><a href="">Like</a></li>
											   		<li><a href="">Reply</a></li>	
											   		<li><a href="">2d</a></li>
										        </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
						</div>				
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 right-part2">
						<div class="may-know">
							<div class="top-know">
								<p class="hdg">People you may know</p>
								<a href="" class="see">See All</a>
							</div>
							<div class="bottom-know">
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="assets/images/friends.jpg" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
										<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
										<div class="add-class">
											<button type="button" class="btn btn-grey">Add Friends</button>
											<button type="button" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="assets/images/friends.jpg" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
										<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
										<div class="add-class">
											<button type="button" class="btn btn-grey">Add Friends</button>
											<button type="button" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="assets/images/friends.jpg" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
										<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
										<div class="add-class">
											<button type="button" class="btn btn-grey">Add Friends</button>
											<button type="button" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="assets/images/friends.jpg" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
										<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
										<div class="add-class">
											<button type="button" class="btn btn-grey">Add Friends</button>
											<button type="button" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Suggested">
							<div class="may-know">
								<div class="top-know">
									<p class="hdg">People you may know</p>
									<a href="" class="see">See All</a>
								</div>
								<div class="bottom-know">
									<div class="join-group">
										<div class="join-image">
											<img src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-0/p173x172/29213898_411133419330626_4416280773284331520_n.jpg?_nc_cat=1&_nc_ht=scontent-hkg3-2.xx&oh=bf9868a8eea575c1170d5fb082253c1c&oe=5D615796">
										</div>
									</div>
									<div class="group-know">
										<p class="hdg">5-Minute Crafts ®<span>1,512,955 members</span></p>
										<button type="button" class="btn btn-grey">Join Group</button>
									</div>
								</div>
							</div>
						</div>
						<div class="Stories">
							<div class="may-know">
								<div class="top-know">
									<p class="hdg">Stories</p>
									<div class="Stories-blk">
										<a href="" class="see"> Settings</a>
										<a href="" class="see"> Archive</a>
									</div>
								</div>
								<div class="bottom-know">
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<h2 class="details-heading"><a href="#">Add to your story</a></h2>
											<span class="Stories-text">Share a photo or video or write something</span>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<h2 class="details-heading"><a href="#">Instagram</a></h2>
											<span class="Stories-text">about an hour ago</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>